@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

body {
  background: #e8f1f2;
  height: 100vh;
  box-sizing: border-box;
}

strong {
  color: aqua;
}

footer {
  position: absolute;
  width: 100%;
  height: 180px;

  background: #29a0c1;
}
header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 33px;
  gap: 167px;

  background: #ffffff;

  border-bottom: 1px solid #29a0c1;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 05%;
}
.container-flex-tamanho {
  width: 100%;
  height: 800px;
}
.container-flex-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 05%;
}
.container-equipe {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 10%;
}
.div-equipe {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.loguit {
  background: url(Loguit.jpg);
  mix-blend-mode: multiply;
  width: 200px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.us-tamanho {
  padding: 25px;
  width: 60%;
  height: 90%;
}

.img_flexbox::before {
  content: "";
  background-color: #29a0c1;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -20px;
  left: -10px;
  z-index: -1;
}
.img_flexbox {
  position: relative;
  z-index: 1;
}
.img_flexbox img {
  width: 400px;
}
.img-equipe {
  width: 250px;
  height: 250px;
  left: 0px;
  top: 0px;

  background: url(image);
}
.body-azul {
  background: #c8ecf5;
}

.button-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 220px;
  height: 50px;

  background: #29a0c1;
  border-radius: 20px;
  border-style: none;

  flex: none;
  order: 1;
  flex-grow: 0;

  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}
.button-home:hover {
  background: #ffffff;
  border-radius: 20px;
  border-color: #29a0c1;
  border: 1px solid #29a0c1;
  border-radius: 20px;

  text-decoration: none;
  color: #29a0c1;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}
.container-titulo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.container-separacao {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.icon-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.container-servicos {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 500px;
}

.title-bigblue {
  color: #29a0c1;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  line-height: 90px;
  text-align: center;
  letter-spacing: 0.1em;
}
.title-mediumblue {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #29a0c1;
}
.sub-title {
  /* sub titulo */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.1em;

  /* blue */

  color: #29a0c1;
}
.text-normal {
  color: #000000;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 35px;
  text-align: justify;
}

.title-black {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}
.title-midblack {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 54px;
}
.subtitle-black {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
