@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

body{
    background: #E8F1F2;
    height: 100vh;
    box-sizing: border-box;
  
   
}

strong{
    color: aqua;
}

.container-flex {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 05%; 
}



.us__tamanho{
    width: 707px;
    height: 905px;
}
.loguit{
    background: url(Loguit.jpg);
    mix-blend-mode: multiply;
    width: 400px;
    height: 150px;

}
 

.body-azul{
    background: #C8ECF5;
   
}

.button-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
    width: 320px;
    height: 68px;

    
    background: #29A0C1;
    border-radius: 20px;
    border-style: none;
    
    flex: none;
    order: 1;
    flex-grow: 0;

    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 32px;
}
.container-titulo{
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    align-items: center;
    gap: 20px;

}
.container-separacao{
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    align-items: center;
    gap: 40px;
}

.title-bigblue{
    color: #29A0C1;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    letter-spacing: 0.1em;
}
.title-mediumblue{
    font-family: 'Poppins',  sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #29A0C1;

}
.text-normal{
    color: #000000;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    text-align: justify;
}

