@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:wght@400;600;700;800&display=swap");

:root {
  --body-color: #e8f1f2;
  --cor-primaria: #29a0c1;
  --cor-segundaria: #c8ecf5;
  --cor-terciaria: #ffffff;
  --cor-alternativa: #000534;
  --cor-quatro: black;
}

@media screen and (max-width: 715px) {
  header {
    background-color: var(--cor-terciaria);
    border-bottom: 1px solid var(--cor-primaria);
  }
  body {
    background: var(--body-color);
    box-sizing: border-box;
  }
  footer {
    display: flex;
    gap: 10%;
    width: auto;
    background: var(--cor-primaria);
    padding: 5%;
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 4rem;
  }
  .logo {
    width: 60%;
  }
  .nav-list {
    display: flex;
    align-items: center;
  }

  .nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  .nav-item {
    display: none;
  }

  .nav-link {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    text-decoration: none;
    font-size: 1.15rem;
    color: var(--cor-primaria);
    font-weight: 400;
  }

  .mobile-menu-icon {
    display: flex;
  }
  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }
  .open {
    display: block;
  }

  .container-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: auto;
  }
  .container-flex-tamanho {
    width: auto;
    padding: 5%;
  }
  .container-flex-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 05%;
  }
  .container-equipe {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 5%;
  }
  .div-equipe {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .loguit {
    background: url(Loguit.jpg);
    mix-blend-mode: multiply;
    width: 50%;

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .img_flexbox::before {
    content: "";
    background-color: var(--cor-primaria);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 20px;
    right: 10px;
    z-index: -1;
  }
  .img_flexbox {
    position: relative;
    z-index: 1;
  }
  .img_flexbox img {
    width: 100%;
  }
  .img-equipe {
    width: 250px;
    left: 0px;
    top: 0px;

    background: url(image);
  }
  .body-azul {
    background: var(--cor-segundaria);
  }
  .button-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: auto;

    background: var(--cor-primaria);
    border-radius: 20px;
    border-style: none;

    flex: none;
    order: 1;
    flex-grow: 0;

    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: auto;
  }
  .button-home:hover {
    background: var(--cor-terciaria);
    border-radius: 20px;
    border-color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);
    border-radius: 20px;

    text-decoration: none;
    color: var(--cor-primaria);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: auto;
  }
  .container-titulo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .container-separacao {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 5%;
  }
  .icon-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }
  .contato-icons {
    padding: 5%;
  }
  .container-servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    gap: 50px;
    width: auto;
  }

  .placa {
    display: flex;
    background: #f9fdff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    padding: 5%;

    width: auto;
  }
  .dentro-placa {
    width: 100%;

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .container-contato {
    display: block;
    padding: 5%;
    gap: 10%;
  }
  .div-contato {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
  }

  .title-bigblue {
    color: var(--cor-primaria);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 2rem;
    line-height: 90px;
    text-align: center;
    letter-spacing: 0.1em;
  }
  .title-mediumblue {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 54px;
    text-align: center;
    color: var(--cor-primaria);
  }
  .title-lilblack {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 36px;
    text-align: center;
  }
  .sub-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 100%;
    text-align: center;
    letter-spacing: 0.1em;

    color: var(--cor-primaria);
  }
  .text-normal {
    color: #000000;
    font-family: "Poppins", sans-serif;
    text-align: justify;
    letter-spacing: 0.1px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    padding: 5%;
  }

  .text-contato {
    color: #000000;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.1px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 35px;
    text-align: center;
  }

  .title-black {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 54px;
  }
  .title-midblack {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
  }
  .texto-menor {
    color: var(--cor-quatro);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
  }
  .text-azul {
    color: var(--cor-primaria);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
  }
  .subtitle-black {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 25px;
  }
  .footer-text {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 18px;

    color: var(--cor-terciaria);
  }
  .footer-titulo {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 34px;

    color: var(--cor-terciaria);
  }
}
@media screen and (min-width: 716px) {
  body {
    background: var(--body-color);
    box-sizing: border-box;
  }

  footer {
    display: flex;
    gap: 50%;
    width: 100%;

    background: var(--cor-primaria);
  }
  header {
    background-color: var(--cor-terciaria);
    border-bottom: 1px solid var(--cor-primaria);
  }
  .logo {
    width: 50%;
  }
  .capa {
    width: 50%;
    margin: 10%;
  }
  .nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.2rem;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  .nav-item {
    margin: 0 15px;
  }

  .nav-link {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    text-decoration: none;
    font-size: 1.15rem;
    color: var(--cor-primaria);
    font-weight: 400;
  }

  .login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
  }

  .login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
  }

  .mobile-menu-icon {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
  .container-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10% 0%;
    gap: 05%;
    width: 100%;
  }

  .container-flex-tamanho {
    width: 100%;
  }
  .container-flex-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 05%;
  }
  .container-equipe {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 10%;
  }
  .div-equipe {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .loguit {
    background: url(Loguit.jpg);
    mix-blend-mode: multiply;
    width: 20%;

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .img_flexbox::before {
    content: "";
    background-color: var(--cor-primaria);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -20px;
    left: -10px;
    z-index: -1;
  }
  .img_flexbox {
    position: relative;
    z-index: 1;
  }
  .img_flexbox img {
    width: 400px;
  }
  .img-equipe {
    width: 250px;
    left: 0px;
    top: 0px;

    background: url(image);
  }
  .body-azul {
    background: var(--cor-segundaria);
  }

  .button-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 220px;
    height: 50px;

    background: var(--cor-primaria);
    border-radius: 20px;
    border-style: none;

    flex: none;
    order: 1;
    flex-grow: 0;

    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
  }
  .button-home:hover {
    background: var(--cor-terciaria);
    border-radius: 20px;
    border-color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);
    border-radius: 20px;

    text-decoration: none;
    color: var(--cor-primaria);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
  }
  .container-titulo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .container-separacao {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .icon-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }
  .container-servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0%;
    gap: 05%;
    width: 100%;
    height: 700px;
  }

  .placa {
    display: flex;
    background: #f9fdff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    padding: 3%;
    width: 256px;
    height: 260px;
  }
  .dentro-placa {
    width: 256px;
    height: 180px;

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .container-contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5%;
    gap: 30%;
  }
  .div-contato {
    width: 457px;
    height: 200px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
  }
  .menu-font {
    text-decoration: none;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-primaria);
  }
  .title-bigblue {
    color: var(--cor-primaria);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    line-height: 90px;
    text-align: center;
    letter-spacing: 0.1em;
  }
  .title-mediumblue {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 54px;
    text-align: center;
    color: var(--cor-primaria);
  }
  .title-lilblack {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 36px;
    padding: 5%;

    text-align: center;
  }
  .sub-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.1em;

    color: var(--cor-primaria);
  }
  .text-normal {
    color: #000000;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.1px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 35px;
    text-align: justify;
    padding: 5%;
  }

  .text-contato {
    color: #000000;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.1px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 35px;
    text-align: center;
    padding: 5%;
  }

  .title-black {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 54px;
  }
  .title-midblack {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
  }
  .texto-menor {
    color: var(--cor-quatro);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    padding: 5%;
  }
  .text-azul {
    color: var(--cor-primaria);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    padding: 5%;
  }
  .subtitle-black {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 25px;
  }
  .footer-text {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 18px;

    color: var(--cor-terciaria);
  }
  .footer-titulo {
    width: 278px;
    height: 34px;
    left: 0px;
    top: 19px;

    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 34px;

    color: var(--cor-terciaria);
  }
  .footer {
    padding: 3%;
  }
}
