{% extends 'base.html' %} 
{% block content %} 
{% load static %}
{% include 'partials/menu.html' %}

    <main>
      <!-- textos da pagina -->
      <img class="capa-for" src="assets/imagens/Capa3.svg" />
      <section class="container-for">
        <div class="container-flex-home">
          <h1 class="title-for">Como são as formações</h1>
          <p class="texto-menor">Acessorias são coisas legais muito legais</p>
        </div>
        <div class="container-flex-home">
          <h1 class="title-for">Beneficios</h1>
          <p class="texto-menor">Acessorias são coisas legais muito legais</p>
        </div>
      </section>
      <!--- Publicações-->
      <section id="Postagens" class="Postagens">
        <form class="form">
          <input class="input" type="text" placeholder="Pesquisar" />
          <button class="button" type="submit">
            <img src="{% static 'assets/imagens/icons/search.svg' %}" alt="" />
          </button>
        </form>
          {% for chave, valor in nome_forma.items %}
          <div class="div-card">
            <a class="link-post" href="postpalestraCliente.html">
              <div class="formacao-card">
                <img
                  class="img-car"
                  src="assets/imagens/children-g206872d98_1280.svg"
                  alt="Capa do trabalho em Cacoal"
                />
                <h1 class="titulo-card">{{ valor }}</h1>
                <div class="login-div">
                  <p class="texto-card">Publicado: Helen</p>
                  <p class="texto-card">Data: 20/01/2023</p>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}

        

      </section>
     
    </main>
    {% include 'partials/footer.html' %} {% endblock %}
