<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="assets/style/reset.css" />
    <link rel="stylesheet" href="assets/style/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="icon" href="assets/imagens/icons/icon-web.svg" />

    <title>Arquitetura do Saber</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <div class="logo">
          <a href="homeUsuario.html#home"
            ><img class="logo-menu" src="assets/imagens/loguit-menu.svg"
          /></a>
        </div>
        <div class="nav-list">
          <ul>
            <li class="nav-item">
              <a href="homeUsuario.html#home" class="nav-link">Início</a>
            </li>
            <li class="nav-item">
              <a href="homeUsuario.html#sobrenos" class="nav-link">Sobre</a>
            </li>
            <li class="nav-item">
              <a href="homeUsuario.html#servicos" class="nav-link"> Serviços</a>
            </li>

            <li class="nav-item">
              <a href="homeUsuario.html#contato" class="nav-link"> Contato</a>
            </li>
            <li class="nav-item">
              <a href="publicar.html" class="button-menu"> Publicar </a>
            </li>
          </ul>
        </div>

        <div class="mobile-menu-icon">
          <button onclick="menuShow()">
            <img class="icon" src="assets/imagens/icons/Icon.svg" />
          </button>
        </div>
      </nav>
      <div class="mobile-menu">
        <ul>
          <li class="nav-item">
            <a href="homeUsuario.html#home" class="nav-link">Início</a>
          </li>
          <li class="nav-item">
            <a href="homeUsuario.html#sobrenos" class="nav-link">Sobre</a>
          </li>
          <li class="nav-item">
            <a href="homeUsuario.html#servicos" class="nav-link"> Serviços</a>
          </li>
          <li class="nav-item">
            <a href="homeUsuario.html#contato" class="nav-link"> Contato</a>
          </li>
          <li class="nav-item">
            <a href="publicar.html" class="button-menu">Publicar</a>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <div class="content-top">
        <form class="div-text-pub" method="post" action="">
          <label>Tipo de Serviço:</label>
          <container class="select">
            <select name="servicos">
              <option value="Acessoria">Acessoria</option>
              <option value="Formacao">Formação</option>
            </select></container
          >
        </form>
        <form class="div-text-pub">
          <label for="">Título: </label>
          <input class="textbox-titulo" type="text" />
        </form>
      </div>
      <div class="content">
        <form class="div-text-pub">
          <label for="">Foto da capa: </label>
          <input type="file" />
        </form>
        <form class="div-text-pub">
          <label for="">Sobre o trabalho: </label>
          <textarea
            class="textbox-grande"
            rows="4"
            cols="50"
            placeholder="Digite seu texto aqui"
          ></textarea>
        </form>
        <form class="div-text-pub">
          <label for="">subtitulo: </label>
          <textarea
            class="textbox-subtitulo"
            rows="4"
            cols="50"
            placeholder="Digite seu texto aqui"
          ></textarea>
        </form>
      </div>
      <div class="content">
        <form class="div-text-pub">
          <label>Fotos:</label>
          <input type="file" name="files" id="fileInput" multiple />
        </form>
        <form class="div-text-pub">
          <label for="">Informações adicionais: </label>
          <textarea
            class="textbox-grande"
            rows="4"
            cols="50"
            placeholder="Digite seu texto aqui"
          ></textarea>
        </form>
        <div class="div-text-pub">
          <label for="">Publicador: </label>
          <input class="textbox-pub" type="text" />
          <label for="">Data: </label>
          <input class="textbox-pub" type="date" />
        </div>
      </div>

      <div class="btt-div">
        <button class="button-publicar" href="">Publicar</button>
        <button class="button-cancelar" href="">Cancelar</button>
      </div>
    </main>
  </body>
  <footer>
    <div class="footer">
      <h1 class="footer-titulo">Arquitetura do Saber</h1>
      <p class="footer-text">©2023 thcomunicações.</p>
      <p class="footer-text">Todos os direitos reservados.</p>
      <a href="login.html" class="footer-text">Sair</a>
    </div>
    <div class="footer">
      <img src="assets/imagens/icons/mail-branco.svg" alt="Email" />
      <img src="assets/imagens/icons/whatsapp-branco.svg" alt="Telefone" />
    </div>

    <script src="assets/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="assets/js/swiper.js"></script>
  </footer>
</html>
