{% extends 'base.html' %}
{% load static %}
{% load static %}
{% block content %}
{% include 'partials/menuUser.html' %}
 
    <main>
      <div class="content-top">
        <form class="div-text-pub" method="post" action="">
          <label>Tipo de Serviço:</label>
          <container class="select">
            <select name="servicos">
              <option value="Acessoria">Acessoria</option>
              <option value="Formacao">Formação</option>
            </select></container
          >
        </form>
        <form class="div-text-pub">
          <label for="">Título: </label>
          <input class="textbox-titulo" type="text" />
        </form>
      </div>
      <div class="content">
        <form class="div-text-pub">
          <label for="">Foto da capa: </label>
          <input type="file" />
        </form>
        <form class="div-text-pub">
          <label for="">Sobre o trabalho: </label>
          <textarea
            class="textbox-grande"
            rows="4"
            cols="50"
            placeholder="Digite seu texto aqui"
          ></textarea>
        </form>
        <form class="div-text-pub">
          <label for="">subtitulo: </label>
          <textarea
            class="textbox-subtitulo"
            rows="4"
            cols="50"
            placeholder="Digite seu texto aqui"
          ></textarea>
        </form>
      </div>
      <div class="content">
        <form class="div-text-pub">
          <label>Fotos:</label>
          <input type="file" name="files" id="fileInput" multiple />
        </form>
        <form class="div-text-pub">
          <label for="">Informações adicionais: </label>
          <textarea
            class="textbox-grande"
            rows="4"
            cols="50"
            placeholder="Digite seu texto aqui"
          ></textarea>
        </form>
        <div class="div-text-pub">
          <label for="">Publicador: </label>
          <input class="textbox-pub" type="text" />
          <label for="">Data: </label>
          <input class="textbox-pub" type="date" />
        </div>
      </div>

      <div class="btt-div">
        <button class="button-publicar" href="">Publicar</button>
        <button class="button-cancelar" href="">Cancelar</button>
      </div>
    </main>

  {% include 'partials/footerUser.html' %} {% endblock %}

